body{margin:0;}
nav {
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0);
    text-align: center;
}

div#formulario_contato{
    position: absolute;
    width:860px;
    margin:200px 350px 30px;
    
    
}

div#formulario_contato input[type="text"] {
    width: 480px;
    margin-top: 10px;
    padding:10px;
    border:1px solid;
    border-radius: 5px;
    display: block;
    
}

div#formulario_contato input[type="email"] {
    width: 480px;
    margin-top: 10px;
    padding:10px;
    border:1px solid;
    border-radius: 5px;
    display: block;
    
}

div#formulario_contato select {
    width:500px;
    margin-top: 10px;
    padding:10px;
    border:1px solid black;
    border-radius: 5px;
    outline: none;
}

div#formulario_contato input[type="submit"] {
    display: block;
    padding:10px 20px;
    margin-top:15px;
    color: #FFF;
    border:0;
    border-radius: 5px;
    background-color: green;
    outline: none;
    cursor: pointer;
    text-align: right;
}
    

div#formulario_contato p{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 500;
    background: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width:120px;
    text-align: center;
}

div#formulario_contato form textarea{
    width: 500px;
    margin-top: 10px;
    border-radius: 5px;
}

