div#detalhe_produto {
    width:800px;
    margin:80px auto;
}

div#detalhe_produto ul {
    margin:0px;padding:0px;   
}

div#detalhe_produto li {
    list-style-type: none;
    font-family: sans-serif;
    font-size: 13px;
    padding:5px;
    
}   

div#detalhe_produto li.imagem {
    float:left;
    border:1px solid black;
    width:600px;height:368px;
    margin-top: 3px;
    margin-right: 10px;
    border-radius: 0.2em;
}

div#detalhe_produto h2 {
    margin:0;   
}